<nav>

  <button class="menu-toggle" (click)="toggleMenu()">
    <i class="fa" [ngClass]="menuOpen ? 'fa-times' : 'fa-bars'" aria-hidden="true"></i>
  </button>

  
  <ul [class.show]="menuOpen">
    <li><a routerLink="/" (click)="toggleMenu()">Home</a></li>
    <li><a routerLink="/about" (click)="toggleMenu()">About</a></li>
    <li><a routerLink="/portfolio" (click)="toggleMenu()">Portfolio</a></li>
    <li><a routerLink="/contact" (click)="toggleMenu()">Contact</a></li>
  </ul>

 
  <button (click)="toggleTheme()" class="theme-toggle">
    <i class="fa" [ngClass]="theme === 'dark' ? 'fa-toggle-off' : 'fa-toggle-on'" aria-hidden="true"></i>
  </button>
</nav>
