.portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  
}

.repo-card {
  width: 400px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s;
}

.repo-card:hover {
  transform: scale(1.05);
}


.repo-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}
.repo-link {
  display: inline-block;
  margin: 10px 0;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.repo-link:hover {
  background-color: #0056b3;
} 


