.background-container {
  background-image: url('/image/image.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative; 
}

.home {
  position: absolute;
  transform: translateX(-50%); 
  text-align: center;
  padding: 20px;
  width: 80%;
  max-width: 500px;
  opacity: 0.85;
  border-radius: 15px;
  font-size: 1.2em;
  font-weight: bolder;
  color: rgb(120, 19, 19);
  transform: rotate(-15grad);
}



@media only screen and (max-width: 600px) {
  .home {
  font-size: 0.7em; 
  width: 75%;  
  top: 23%; 
  left: -8%;
 
}

.background-container {
  background-position: top center; 
}
}

@media only screen and (min-width: 600px) {
  .home {
    width: 85%;
    font-size: 1.2em;
    padding: 10px;
  }
}


@media only screen and (min-width: 768px) {
  .home {
  padding: 30px; 
  width: 55%;  
  font-size: 1em;  
  top: 25%; 
  left: 10%;
}
}


@media only screen and (min-width: 992px) {
  .home {
    width: 35%;
    padding: 10px;
    font-size: 1em;
    top: 8%; 
    left: 25%;
  }
}

@media only screen and (min-width: 1200px) {
  .home {
    width: 40%;
    font-size: 1em;
    padding: 10px;
    top: 8%; 
    left: 23%;
  }
}

